/* Box-sizing de Paul Irish */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Reset básico */
body, h1, h2, h3, h4, p, ul, li, figure {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* Configuraciones basicas para abarcar toda la pantalla */
body {
  min-height: 100vh;
  background-color: var(--bg-deep-space);
  color: var(--text-main);
  font-family: var(--font-mono);
  overflow-x: hidden; /* Evitar scroll horizontal */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Input reset */
input, button, textarea {
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
  outline: none;
}